<!DOCTYPE html>
<html lang="en" dir="ltr">
    
<header>
    <div>
    <h2 class="title">Hi, I'm Beleicia!</h2>
    <p>pronounced like buh-lee-sea-ah</p>
    </div>
    <div>
        <ul>
            <li><a href="#">[email]</a></li>
            <li><a href="#">[cv]</a></li>
            <li><a href="#">[google scholar]</a></li>
        </ul>
    </div>
    <!-- <nav>
        <p>
            <a href="{{ site.url }}">Home</a> 
            <a href="{{ site.url }}{{ site.Blog }}">Blog</a>
            <a href="{{ site.url }}{{ site.Life }}">Life</a>
        
            {% for link in site.links %}
                <a href="{{ site.url }}{{ link[1] }}">{{ link[0] }}</a>
            {% endfor %}
            
            {% for link in site.special_links %}
                    <a href="{{ link[1] }}">[{{ link[0] }}]</a>
            {% endfor %}
        </p>
    </nav> -->
</header>