<!DOCTYPE html>
<html lang="en" dir="ltr">
    
<header>
    <div>
    <h1 class="title">Hi, I'm Beleicia!</h1>
    <div class="subtitle emphasis-text">(pronounced like buh-lee-sea-ah)</div>
    </div>
    <div>
        <ul class="horizontal-list">
            <li><a href="mailto:beleicia@cs.stanford.edu">[email]</a></li>
            <li><a href="../assets/files/cv.pdf">[cv]</a></li>
            <li><a href="https://scholar.google.com/citations?user=OyE0sDYAAAAJ&hl=en">[google scholar]</a></li>
        </ul>
    </div>
    <!-- <nav>
        <p>
            <a href="{{ site.url }}">Home</a> 
            <a href="{{ site.url }}{{ site.Blog }}">Blog</a>
            <a href="{{ site.url }}{{ site.Life }}">Life</a>
        
            {% for link in site.links %}
                <a href="{{ site.url }}{{ link[1] }}">{{ link[0] }}</a>
            {% endfor %}
            
            {% for link in site.special_links %}
                    <a href="{{ link[1] }}">[{{ link[0] }}]</a>
            {% endfor %}
        </p>
    </nav> -->
</header>