
<div class="pub">
	<div class="left">
		<div class="pub-venue"><i>{{pub.conference}}'{{pub.date|date: "%y"}}</i></div>
	</div>
	<div class="right">
	<div class="pub-title">{{pub.title}}</div>
	<div class="pub-authors">
		{% for author in pub.authors %}
			{%-if author contains "Beleicia"-%}
				<span class="pub-author author-me">{{author}}</span>
			{%-else-%}
				<span class="pub-author">{{author}}</span>
			{%-endif-%}
			{% unless forloop.last %},{% endunless %}
		{% endfor %}
	</div>
	<div class="pub-description">{{pub.content}}</div>
	<ul class="pub-links">
		<li><a href="{{pub.pdf}}">[pdf]</a></li>
		<li><a href="{{pub.slides}}">[slides]</a></li>
		<li><a href="{{pub.link}}">[doi]</a></li>
	</ul>
</div>	
</div>